<h1>Band Tracker!</h1>
<hr/>
<h2>Are you sure you want to delete this venue?</h2>
<h4>@Model.GetName()</h4>
<form action="/venue/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<p><a href="/">Back home</a></p>
